<!DOCTYPE html>
<html>
<head>
  <title>Fareshare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/nav_bar' %>

	<div class="notice_container">
		<p id="notice"><%= notice %></p>
	</div>

	<%= yield %>

	<%= render 'layouts/footer' %>
</body>
</html>
